.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.grid-pets {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#btn-add-pet {
  margin-top: 1rem;
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}
