<app-navbar></app-navbar>

<div class="container">
  <header>
    <app-status-select (statusSelectChange)="filterList($event)"></app-status-select>
    <button
      mat-raised-button
      color="primary"
      class="add-button"
      [routerLink]="['/add']"
      type="button">
      <mat-icon class="logo">add</mat-icon>
      New pet
    </button>
  </header>

  <section class="wrapper-list">

    <mat-grid-list cols="4" rowHeight="410px" *ngIf="!isLoading">
      <mat-grid-tile class="pet-list-tile" *ngFor="let pet of pets$ | async">
        <div class="wrapper-tile">
          <mat-card class="pet-card">
            <mat-card-header>
              <mat-card-title>{{ pet.name }}</mat-card-title>
              <mat-card-subtitle>{{ pet.status }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <mat-card-actions [align]="'end'">
              <button mat-button (click)="openModal(pet.id)">Details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="loader-wrapper" *ngIf="isLoading">
      <ng-lottie width="300px" height="300px" [options]="lottieConfig"></ng-lottie>
    </div>
  </section>
</div>
