@import "../../../styles/variables";

:host {
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.mat-toolbar {
  background: $primaryColor;
}

.logo {
  margin-right: 0.55rem;
}

.spacer {
  flex: 1 1 auto;
}
