.block-info {
  border-bottom: 1px black dotted;
  margin-bottom: 0.75rem;

  &:last-child {
    border-bottom: none;
  }

  h3 {
    margin: 0;
    font-weight: bold;
  }
  p {
    margin: 0 0 12px 0;
  }
}

.photo-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1rem;

  img {
    border-radius: 12px;
  }
}
