@import "../../../styles/variables";

:host {
  display: block;
  background: url("../../../assets/img/paw_pattern.jpeg");
}

.title {
  font-weight: bold;
}

.wrapper-login {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  width: 320px;
  animation: scale-in-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.65s
    both;
}
