<div class="wrapper-full">
  <div class="wrapper-login">
    <div class="character">
      <app-character></app-character>
    </div>
    <form id="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>

      <div class="login-inputs margin-b-1">
        <input type="text" name="user" class="margin-b"  placeholder="Your user" formControlName="user">
        <input type="password" name="password" placeholder="Password" formControlName="password">
      </div>

      <div class="text-r">
        <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid || submitted">{{ (submitted) ? 'Wait...' :  'Log in' }}</button>
      </div>
    </form>
  </div>
</div>
