<div class="wrapper-full">
  <div class="wrapper-login">
    <div class="character">
      <app-character></app-character>
    </div>
    <form id="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
      <h1 class="title">Petshop</h1>
      <div class="login-inputs margin-b-1">
        <mat-form-field class="full-w" appearance="legacy">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="user">
        </mat-form-field>
        <mat-form-field class="full-w" appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>

      <div class="text-r">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || submitted">{{ (submitted) ? 'Wait...' :  'Log in' }}</button>
      </div>
    </form>
  </div>
</div>
