<app-navbar></app-navbar>

<div class="container">
  <header>
    <span class="title">Create a new pet</span>
    <button
      mat-flat-button
      color="warn"
      class="add-button"
      [routerLink]="['/pets']"
      type="button">
      Cancel
    </button>
  </header>

  <section class="wrapper-add">
    <div class="wrapper-form">
      <form id="add-form" [formGroup]="addForm">

        <div class="wrapper-status">
          <app-status-select title="Choose a status:"></app-status-select>
        </div>

        <mat-form-field appearance="legacy">
          <mat-label>URL of image</mat-label>
          <input matInput placeholder="URL of image" formControlName="image">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Name of pet</mat-label>
          <input matInput placeholder="Name of pet" formControlName="name">
        </mat-form-field>

        <div class="text-r">
          <button mat-flat-button color="primary" type="submit" [disabled]="!addForm.valid || submitted">{{ (submitted) ? 'Wait...' :  'Register' }}</button>
        </div>
      </form>
    </div>
  </section>
</div>
