/* You can add global styles to this file, and also import other style files */

@import "./styles/variables";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #171717;
}

$navbar-height: 64px;

// Help wrapper classes
.wrapper-full {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  animation: slide-in-bottom 0.75s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  padding-bottom: 3rem;

  @media (min-width: 992px) {
    max-width: 1200px;
  }

  header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    background: white;
    border-bottom: 1px rgba(100, 116, 139, 0.557) dotted;
    z-index: 10;

    .title {
      font-size: 17px;
      color: #0f172a;
      font-weight: bold;
      margin: 0;
    }
  }
}

// Help padding classes
.padding-b {
  padding-bottom: 12px;
}

.padding-b-1 {
  padding-bottom: 16px;
}

.padding-b-2 {
  padding-bottom: 24px;
}

.padding-b-3 {
  padding-bottom: 32px;
}

// Help margin classes
.margin-b {
  margin-bottom: 12px;
}

.margin-b-1 {
  margin-bottom: 16px;
}

.margin-b-2 {
  margin-bottom: 24px;
}

.margin-b-3 {
  margin-bottom: 32px;
}

// Help align classes
.text-l {
  text-align: right;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-i-center {
  align-items: center;
}

// Util classes
.no-margin {
  margin: 0 !important;
}

.full-w {
  width: 100%;
}

// Custom material
.mat-flat-button.mat-primary:not(.mat-button-disabled),
.mat-raised-button.mat-primary:not(.mat-button-disabled),
.mat-fab.mat-primary:not(.mat-button-disabled),
.mat-mini-fab.mat-primary:not(.mat-button-disabled) {
  background: $primaryColor !important;
}

// Animations for micro-interactions
@keyframes scale-in-center {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 150px);
  }
  100% {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
